<% include ../partials/_header %>



<div class="product_page">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 d-flex col-lg-8 col-md-8 col-sm-12">
                    <div class="text_detail">
                    <h2>Heel shoes</h2>
                    <ul class="star">
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        <li>(2 Customer reviews)</li>
                    </ul>
                    <ul class="price_text">
                        <li>$122.99</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla.</li>
                    </ul>
                    <p class="stock"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i><span>100 in stock</span></p>
                    <div class="quantity">
                        <input class="input-text qty text" step="1" min="1" max="100" name="quantity" value="1"
					 type="number">
                     <a href="/addtocardofertatres/<%= ofertatres.id %>">  <button>AAD TO CART</button></a> 
                    </div>
                    <ul class="button_box">
                        <li><a href="#">Elegir talle y color</a></li>
                        <li><a href="#">Add To Compare</a></li>
                    </ul>
                    <div class="product_meta">
                        <p><span>CATEGORIES:</span> Dress, Drink, Fasion</p>
                    </div>
                    <ul class="f_icon">
                                <li><a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="https://twitter.com/login" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.plus.google.com/discover" target="_blank"><i class="fa fa-google" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.linkedin.com/uas/login" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="https://identity.flickr.com/login?redir=https%3A%2F%2Fwww.google.com%2F" target="_blank"><i class="fa fa-flickr" aria-hidden="true"></i></a></li>
                            </ul>
                </div>
            </div>
            <div class="col-xl-4 d-flex text-center col-lg-4 col-md-4 col-sm-12">
            
                <div class="product_ing">
                    <img src="img/images.jpg" alt="">
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="p_d_c2">
                    <ul>
                        <li><h4>Description</h4></li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla.</li>
                        <li>Pellentesque aliquet, sem eget laoreet ultrices, ipsum metus feugiat sem, quis fermentum turpis eros eget velit. Donec ac tempus ante. Fusce ultricies massa massa. Fusce aliquam, purus eget sagittis vulputate, sapien libero hendrerit est, sed commodo augue nisi non neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor, lorem et placerat vestibulum, metus nisi posuere nisl, in accumsan elit odio quis mi. Cras neque metus, consequat et blandit et, luctus a nunc. Etiam gravida vehicula tellus, in imperdiet ligula euismod eget.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/_footer %>

