<% include ../partials/_header %>

<!--____________________banner______________________________-->

<div class="col-xl-12">
  <div class="p_banner">
    
  </div>
</div>



<!--____________________banner______________________________-->
<!--__________________________product______________________________-->


<div class="product_page">
  <div class="container">
    <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
          <div class="dropdown">
            <select name="CATEGORIES" id="" class="category">
              <option selected disabled>CATEGORIES</option>
              <option value="">New</option>
              <option value="">Adidas</option>
              <option value="">Men</option>
              <option value="">Women</option>
              <option value="">Nike</option>
              <option value="">Puma</option>
              <option value="">Air</option>
              <option value="">Lacospe</option>
            </select>
            <br>
            <select name="color" id="" class="color">
              <option selected disabled>COLOR</option>
              <option value="">Red</option>
              <option value="">Black</option>
              <option value="">White</option>
            </select>
            <div class="boxes">
              <h5>FILTER</h5>
              <input type="checkbox" id="box-1">
              <label for="box-1">0 - 49$</label>

              <input type="checkbox" id="box-2" checked>
              <label for="box-2">50$ - 99$</label>

              <input type="checkbox" id="box-3">
              <label for="box-3">100$ - 199$</label>
            </div>
          </div>
          <div class="product_left">
            <ul class="product_team">
              <li><h5>CATEGORIES</h5></li>
              <li><a href="#">New(11)</a></li>
              <li><a href="#">Adidas(12)</a></li>
              <li><a href="#">Men(9)</a></li>
              <li><a href="#">Women(32)</a></li>
              <li><a href="#">Nike(23)</a></li>
              <li><a href="#">Puma(12)</a></li>
              <li><a href="#">Frist look(45)</a></li>
              <li><a href="#">Air(34)</a></li>
              <li><a href="#">Lacospe(31)</a></li>
              <li><a href="#">All black(14)</a></li>
              <li><a href="#">Asics(12)</a></li>
            </ul>
            <ul class="product_color">
              <li><h5>COLOR</h5></li>
              <li><a href="#">Red</a></li>
              <li><a href="#">Black</a></li>
              <li><a href="#">White</a></li>
            </ul>
            <div class="boxes">
              <h5>FILTER</h5>
              <input type="checkbox" id="box-1">
              <label for="box-1">0 - 49$</label>

              <input type="checkbox" id="box-2" checked>
              <label for="box-2">50$ - 99$</label>

              <input type="checkbox" id="box-3">
              <label for="box-3">100$ - 199$</label>
            </div>

          </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12">
          <div class="product_heder_text">
            <div class="row">
            <div class="col-xl-3 col-lg-2 col-md-3 col-sm-3">
              <ul class="hover_li_box">
                <li class="list"><i class="fa fa-th-list" aria-hidden="true"></i></li>
                <li class="grid"><i class="fa fa-th-large" aria-hidden="true"></i></li>
              </ul>
            </div>
            <div class="col-xl-9 text-right col-lg-10 col-md-9 col-sm-9">
              <ul class="r_text">
                <li>Sort By:</li>
                <li>
                  <select  name="cd-dropdown" class="cd-select">
                     <option selected disabled>Select</option>
                      <option value="">Price:lowest first</option>
                      <option value="">Price:highest first</option>
                      <option value="">Product: A to Z</option>
                      <option value="">Product: Z to A</option>
                      <option value="">In stock</option>
                  </select>
                </li>
                <li class="end_text">Showing 1–9 of 42 results</li>
              </ul>
            </div>
            </div>
          </div>
          <div class="list_product_iteam">
          <div class="container">
            <div class="row">
              <div class="col-xl-4 product_list_side_img col-lg-4 col-md-4 col-sm-12">
                <img src="img/img_3.png" alt="">
              </div>
              <div class="col-xl-8 product_list_caption col-lg-8 col-md-8 col-sm-12 ">
                <h2><a href="#">Heel shoes</a></h2>
                <div class="product_price">
                  <p>122.99 <del>133.99</del>
                    <span>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  </span>
                  </p>
                  <p class="p_caption">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis eaque cumque provident sed, nemo amet iure neque excepturi minus et quos recusandae enim praesentium laudantium sapiente voluptates facere impedit ab!
                  </p>
                  <ul class="p_icon_list">
                    <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-share-square-o" aria-hidden="true"></i></a></li>
                    <li><a href="product_detail.html"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                  </ul>
                </div>
              </div>
              <div class="col-xl-12 border_bottom">
                
              </div>
              <div class="col-xl-4 product_list_side_img col-lg-4 col-md-4 col-sm-12">
                <img src="img/img_6.png" alt="">
              </div>
              <div class="col-xl-8 product_list_caption col-lg-8 col-md-8 col-sm-12">
                <h2><a href="#">Heel shoes</a></h2>
                <div class="product_price">
                  <p>122.99 <del>133.99</del>
                    <span>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  </span>
                  </p>
                  <p class="p_caption">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis eaque cumque provident sed, nemo amet iure neque excepturi minus et quos recusandae enim praesentium laudantium sapiente voluptates facere impedit ab!
                  </p>
                  <ul class="p_icon_list">
                    <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-share-square-o" aria-hidden="true"></i></a></li>
                    <li><a href="product_detail.html"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                  </ul>
                </div>
              </div>
              <div class="col-xl-12 border_bottom">
                
              </div>
              <div class="col-xl-4 product_list_side_img col-lg-4 col-md-4 col-sm-12">
                <img src="img/img_5.png" alt="">
              </div>
              <div class="col-xl-8 product_list_caption col-lg-8 col-md-8 col-sm-12">
                <h2><a href="#">Heel shoes</a></h2>
                <div class="product_price">
                  <p>122.99 <del>133.99</del>
                    <span>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  </span>
                  </p>
                  <p class="p_caption">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis eaque cumque provident sed, nemo amet iure neque excepturi minus et quos recusandae enim praesentium laudantium sapiente voluptates facere impedit ab!
                  </p>
                  <ul class="p_icon_list">
                    <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-share-square-o" aria-hidden="true"></i></a></li>
                    <li><a href="product_detail.html"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
          <div class="product_img_box">
            <div class="row">
                <div class="col-xl-4 text-center col-lg-4 col-md-4 col-sm-6 portfolio-item new">
                <div class="img_box_1">
                <a href="product_detail.html"><div class="overlay"></div></a>
                <img src="img/aaa.png" alt="">
                <div class="p_icon ">
                  <ul>
                    <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-share-square-o" aria-hidden="true"></i></a></li>
                    <li><a href="product_detail.html"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
                </div>
                <p class="c_p_text">
                  <span>Nunc non fermentum nunc.</span>
                    <br>
                  <button>$123.99</button>
                </p>	
              </div>
              <div class="col-xl-4 text-center col-lg-4 col-md-4 col-sm-6 portfolio-item new">
              <div class="img_box_1">
                <a href="product_detail.html"><div class="overlay"></div></a>
                <img src="img/p_3.jpg" alt="">
                <div class="p_icon">
                  <ul>
                    <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-share-square-o" aria-hidden="true"></i></a></li>
                    <li><a href="product_detail.html"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
              <p class="c_p_text">
                <span>Nunc non fermentum nunc.</span>
                <br>
                <button>$123.99</button>
              </p>
            </div>
            <div class="col-xl-4 text-center col-lg-4 col-md-4 col-sm-6 portfolio-item new">
              <div class="img_box_1">
                <a href="product_detail.html"><div class="overlay"></div></a>
                <img src="img/p_4.jpg" alt="">
                <div class="p_icon">
                  <ul>
                    <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-share-square-o" aria-hidden="true"></i></a></li>
                    <li><a href="product_detail.html"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
              <p class="c_p_text">
                <span>Nunc non fermentum nunc.</span>
                  <br>
                  <button>$123.99</button>
              </p>
            </div>
            <div class="col-xl-4 text-center col-lg-4 col-md-4 col-sm-6 best portfolio-item ">
              <div class="img_box_1">
                <a href="product_detail.html"><div class="overlay"></div></a>
                <img src="img/p_5.jpg" alt="">
                <div class="p_icon">
                  <ul>
                    <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-share-square-o" aria-hidden="true"></i></a></li>
                    <li><a href="product_detail.html"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
              <p class="c_p_text">
                <span>Nunc non fermentum nunc.</span>
                  <br>
                  <button>$123.99</button>
              </p>
            </div>
            <div class="col-xl-4 text-center col-lg-4 col-md-4 col-sm-6 best portfolio-item">
              <div class="img_box_1">
                <a href="product_detail.html"><div class="overlay"></div></a>
                <img src="img/shoes-22-262x350.jpg" alt="">
                <div class="p_icon">
                  <ul>
                    <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-share-square-o" aria-hidden="true"></i></a></li>
                    <li><a href="product_detail.html"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
              <p class="c_p_text">
                <span>Nunc non fermentum nunc.</span>
                  <br>
                  <button>$123.99</button>
              </p>
            </div>
            <div class="col-xl-4 text-center col-lg-4 col-md-4 col-sm-6 best portfolio-item">
              <div class="img_box_1">
                <a href="product_detail.html"><div class="overlay"></div></a>
                <img src="img/shoes-23-1-262x350.jpg" alt="">
                <div class="p_icon">
                  <ul>
                    <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-share-square-o" aria-hidden="true"></i></a></li>
                    <li><a href="product_detail.html"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
              <p class="c_p_text">
                <span>Nunc non fermentum nunc.</span>
                  <br>
                  <button>$123.99</button>
              </p>
            </div>
            </div>
          </div>
        </div>
        <div class="buttom_button col-xl-12 text-center">
          <ul>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
          </ul>
        </div>
    </div>
  </div>
</div>







<!--__________________________product______________________________-->





  <% include ../partials/_footer %>