<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Neshoes</title>
	<link rel="icon" href="/img/logo.png">
	<link rel="stylesheet" href="/css/styles.css">
	<meta name="viewport" content="width=device-width,intial-scale=1.0">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="/css/animate.css">
	<link rel="stylesheet" href="/css/set1.css">

</head>
<body>
	<div id="overlayer"></div>
	<div class="loader">
	  <img src="img/loader_img.gif" alt="">
	</div>
	
	<!--____________________header______________________________-->
	

		<div class="main_1 wow fadeInDown"  data-wow-delay=".8s">
			<div class="container">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<div class="row">
						<div class="col-xl-3 col-lg-3 col-md-3 col-sm-2">
							<p class="logo"><a href="index.html">Shoeniverse</a></p>
						</div>
						<div class="col-xl-4 offset-xl-5 text-right col-lg-6 col-md-6 offset-md-3 offset-sm-2 col-sm-8">
							<ul class="right_caption">
								<li><a href="#" class="hover_search"><i class="fa fa-search" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> 0</a></li>
								<li><a href="#">Login or register</a></li>
							</ul>
							<div class="search-box">
    								<input type="text" placeholder=""/>
    								<input type="button" value="Search"/>
  								</div>
						</div>
					</div>
				</div>
			</div>			
		</div>
		<div class="n_top_nav">
	
				<div class="left_logo">
					<div class="col-xl-3 col-lg-3 col-md-3 col-sm-2">
						<p class="logo"><a href="index.html">NeShoes</a></p>
					</div>
				</div>
			<ul class="nav_text">
						<li><a href="index.html" class="menu_active">Home</a></li>
						<li><a href="product.html">Products</a></li>
						<li><a href="About_detail.html">About</a></li>
						<li><a href="#">Pages</a></li>
						<li><a href="blog.html">Blog</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
					<div class="menu btn2" data-menu="2">
        				<div class="icon"></div>
      				</div>
      	
		</div>